.footer
  .container
    %p
      This site is maintained by UMass Amherst Parking Services
      %br/
      413.577.PARK |
      %a{href: "https://parking.umass.edu/", rel: "nofollow"} Public Home Page
      |
      %a{href: "https://parking-flex.admin.umass.edu/PowerPark/login.aspx?target=%2fPowerPark%2f"} T2 Flex
      |
      %a{href: "mailto:transportationit@umass.edu?Subject=Issue:", target: "_top"} Submit Track-It! Ticket
      %br/
      © #{Date.today.year}
      %a{href: "http://www.umass.edu/", rel: "nofollow"} University of Massachusetts Amherst
      |
      %a{href: "http://www.umass.edu/umhome/policies/", rel: "nofollow"} Site Policies