.calendar-heading {
  text-align: center;
}
.calendar-title {
  font-size: 24px;
  padding: 18px;
}

.approved-request a {
  color: blue;
  font-size: 12px;
}
.pending-request a {
  color: red;
  font-size: 12px;
}

.requests-form-row {
  padding: 10px;
}
