%h1 Divisions

%h2
  = link_to 'New Division', new_division_path, class: 'btn btn-primary'

%table.table.table-striped.table-bordered.table-hover
  %tr
    %th Name
    %th.min-width Actions
  - @divisions.each do |division|
    %tr
      %td
        = division.name
      %td{class: 'min-width', align: 'center'}
        = form_tag division, method: :delete, data: { confirm: 'Are you sure?' } do
          = button_tag(class: 'btn btn-xs btn-danger') do
            %span.glyphicon.glyphicon-trash
            Delete


