%h1 Welcome to Kronos!

= link_to 'Swipe In', home_swipe_path(redirect: 'swipe_in'), class: 'btn btn-default btn-xlg'
= link_to 'Swipe Out', home_swipe_path(redirect: 'swipe_out'), class: 'btn btn-default btn-xlg'
= link_to 'Time Sheet', home_swipe_path(redirect: 'time_sheet'), class: 'btn btn-default btn-xlg'
= link_to 'Time Off', home_swipe_path(redirect: 'time_off'), class: 'btn btn-default btn-xlg'