.page-header{
  background-color: #881c1c;
  padding: 1em 0;
  margin: 0;
  border: none;
}

.sub-header{
  padding-top: 1em;
  background-color: #ece9d4;
}

.footer{
  padding-top: 15px;
  background-color: #beb395;
}

.navbar.main{
  border-width: 0px;
  border-radius: 0px;
  background-color: #dbd3ba;
  margin: 0;
}

.navbar-toggle.main{
  background-color: #dbd3ba !important;
}

.navbar-collapse > .nav.main > li,
.navbar-collapse > .nav.main > .open > a{
  background-color: #dbd3ba !important;
}

ul.main.nav{
  margin:0px;
}

.navbar-collapse > .nav.main > .dropdown > .dropdown-menu{
  border-color: #dbd3ba;
  background-color: #dbd3ba;
}


.main-content{
  margin-bottom: 15px;
}

.form-information{
  margin-bottom: 0px;
}

#notice {
  color: green;
}

#warning {
  color: yellow;
}

hr{
  height: 1px;
  background-color: #ddd;
}

.flash-icon{
  padding-right: 10px;
}

.alert{
  margin-top: 10px;
}
